@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$pink: rgb(255 10 35 / 76%);
::selection { background: $pink; color: #fff; }

$stripeBg: url(assets/stripe.png);

#root { 
    @apply flex font-light;
    font-family: "Rubik", "Arial" serif;
    font-optical-sizing: auto;  
    font-style: normal;
}

#logo { 
    @apply w-full flex pr-4 h-24 items-center text-4xl pl-6 overflow-hidden font-black relative;

    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;

    background: rgba(0, 0, 0, 1) url(assets/stripe.png);
    background-size: 6px; 

    position: relative;
    box-shadow: inset -20px 0px 20px 0px #000;
    
    img { 
        @apply absolute right-0 h-auto;

        width: 180px;
        top: 5px;
        margin-right: -51px;
    }

    span { 
        @apply text-orange-400 text-3xl font-black;
        text-shadow: 0px 3px 7px rgba(207, 104, 7, 1);
        letter-spacing: -10px;
    }
}

#page { 
    /* Layout */
    @apply w-10/12;

    .page-wrapper { 
        @apply bg-zinc-200 min-h-screen p-5 max-h-screen overflow-y-hidden;
        
        background-image: url(assets/mountains.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        box-shadow: inset -1px -200px 10000px -87px rgb(31 41 55);
    }
}


#folder-tree { 
    @apply w-full mt-0 float-left h-auto pb-4 overflow-y-scroll;

    background: linear-gradient(rgba(24, 7, 7, 0.7) 0%, rgba(0,0,0,0.3) 75%, rgb(37, 37, 37) 100%);
    border-top: 1px solid rgb(112, 110, 111);
    border-bottom: 1px solid rgb(112, 110, 111);
    border-right: none;
    box-shadow: inset -20px 0px 20px 0px #000;

    // React-scrollbars-custom-2
    > div > div:last-child > div { 
        @apply rounded-full;
        background: rgba(251, 146, 60, 0.463) !important;
        margin-top: 15px !important;
    
    }

    &::-webkit-scrollbar {
        display: none;
    }

    > li:first-child { 
        @apply mt-3;
    }

    > li:last-child { 
        @apply mb-3;
    }

    li { 
        @apply pl-3 mt-4 flex flex-col w-full;
        
        svg { 
            @apply size-4 mr-4 float-left;
        }

        a { 
            @apply cursor-pointer hover:text-orange-400 select-none;
            transition: 0.15s;

            &:hover { 
                @apply text-sky-200;
            }

            &.active {
                @apply text-orange-400;
                
                text-shadow: 0px 3px 7px rgba(255, 206, 114, 0.712);
            }
        }

        > ul { 
            @apply w-full;
        }
    }
}

.pfp { 
    background:  url('assets/pfp-temporary.png') center no-repeat ;
    background-size: cover;
}

.folder-search { 
    @apply w-1/6 p-4 pt-0 flex flex-row justify-start;
    
    position: relative;
    
    input { 
        @apply rounded-full px-4 py-2 min-w-60;
    
        margin-right: -35px;

        color: #fff;
        background: #1d2229;
        border: 1px solid #000000;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    }

    svg { 
        @apply size-6 float-left;
        color: #fff;
        margin-top: 8px;
    }
}

.folder-filters { 
    @apply w-1/6 p-4 pt-0 flex flex-row justify-start items-center;

    a { 
        &:hover { 
            color: $pink;
            cursor: pointer;
        }
    }

    svg { 
        @apply size-6;
    }
}

#folder-view { 
    @apply p-5 max-h-max;

    background-color: rgb(255 255 255 / 38%);
    background-image: url('assets/stripe.png');
    background-size: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    max-height: 90vh;

    .file-grid { 
        @apply grid grid-cols-6 auto-rows-max overflow-y-scroll;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .folder-toolbar { 

        text-shadow: 0px 1px 0px rgb(255 255 255 / 100%);

        .folder-path { 
            @apply text-sm;
            letter-spacing: 2px;
            
            span { 
                font-weight: 400;
            }
        }

        svg { 
            @apply size-4;
        }

        svg:first-child { 
            @apply float-left mr-4;
        }

    }

    .folder-empty { 
        @apply h-80 w-full flex justify-center items-center; 

        a {
            svg { 
                @apply size-80 opacity-10;

                transition: .25s;
            }

            &:hover { 
                color: $pink;
                svg { 
                    @apply cursor-pointer opacity-100;

                }
            }
        }
    }

    @keyframes showUploadList {
        from { 
            opacity: 0;
        }

        to { 
            opacity: 1;
        }
    }

    /*
    .file-upload-list { 
        @apply flex flex-col my-6 pb-4 rounded-md; 

        animation-name: showUploadList;
        animation-duration: 0.15s;
        animation-timing-function: ease-in;

        background: linear-gradient(20deg, rgb(2 9 24) 0%, rgb(35 46 61) 70%, rgb(0, 0, 0) 100%);

        .file-information { 
            @apply absolute bottom-0 w-full p-2 text-sm;

            background: rgba(0,0,0,0.7);
            color: #fff;
            font-weight: 400;
        }

        button { 
            @apply w-80 m-auto;
        }
    }
*/
    .file { 
        @apply relative rounded-md mx-4 my-4 h-44 flex flex-col p-2 relative flex flex-col items-center align-middle;
        
        
        background-color: rgb(31 41 55);
        border: 1px solid rgb(31 41 55);
    
        &:hover {
            background-color: rgb(255 10 35 / 76%);
            border-color: rgb(255 10 35 / 76%);
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        }
    }

    .file-header { 
        @apply w-full overflow-hidden text-left h-1/6 align-middle text-xs font-semibold text-slate-800 relative text-white;

        // Elipsis
        > svg { 
            cursor: pointer; 
        }

        span {
            @apply overflow-hidden inline-block max-h-4;
        }

        svg {
            @apply float-right size-5 absolute right-0;
            stroke: #fff;
        }
    }

    .file-thumbnail {
        @apply w-full h-5/6 text-slate-700 relative;

        background: linear-gradient(20deg, rgb(2 9 24) 0%, rgb(35 46 61) 70%, rgb(0, 0, 0) 100%);

        &:not(.file-media) { 
            @apply flex flex-col flex-wrap align-middle content-center justify-center;
            
            color: rgba(255,255,255,0.6);

            svg:not(.expand svg) {
                @apply size-14 
            }
        }

        &.file-media { 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative; 
            overflow: hidden; 

            video { 
                height: 100%;
                width: 100%;
                top: 0;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }

    @keyframes dropdown { 
        0% { 
            opacity: 0;
        }

        100% { 
            opacity: 1;
        }
    }
    
    .file-menu-dropdown { 
        @apply absolute flex flex-col rounded-md py-2 px-4 text-sm w-auto;

        z-index: 2;
        background: rgba(31,41,55,0.9);
        color: #fff;
        height: auto;
        top: 25px;
        right:0;
        
        animation-name: dropdown;
        animation-duration: 0.15s;
        animation-timing-function: ease-in;

        a { 
            @apply mt-2 mb-2 flex items-center;

            &:hover { 
                @apply text-orange-400 cursor-pointer;
                text-shadow: 0px 3px 7px orange;

                &.pink { 
                    color: rgb(255, 96, 112);
                    text-shadow: 0px 3px 7px rgba(255, 0, 0, 0.87);         
                }
            }

            svg { 
                @apply size-5 mr-2;
            }
        }
    }

}

.btn {
    @apply flex flex-row py-2 px-4 mr-4 w-auto min-h-8 rounded-md justify-center align-middle;

    border: 1px solid rgb(31 41 55);
    color: #fff;
    background-color: rgb(31 41 55);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: 0.15s;

    &:hover {
        background-color: $pink;
        border-color: $pink;
    }

    svg {
        @apply size-6 mr-2;
    }
}

.modal { 
    @apply fixed rounded-md z-10 flex flex-col px-20 py-10;
    
    background: rgba(255,255,255,0.8);
    border: 1px solid #fff;
    z-index: 5;
}

.modal-backdrop {
    background: rgba(0,0,0,0.3);
    background-size: 6px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-options { 
    @apply mt-5;

    width: 100%;
    display: flex;
    justify-content: center;
}

