@import './variables.scss';

$box-shadow: 0 6px 5px 0px rgb(0 0 0 / 7%);

// Borders
$input-border: 1px solid $grey;

// Animations
$transitionTime: .15s;

/*
*   Form Elements
*/

input, button { 
    @apply rounded-full px-4 py-2 mx-2;
    
    outline: none !important; 
    background: none;
    border: $input-border;
    box-shadow: $box-shadow;
    transition: $transitionTime;
    color: $white;

    &:hover {
        border-color: $orange;
        color: $orange;
    }
}

input[type="text"] { 
    color: $black;
    
    &:focus {
        border-color: $orange;
        color: $orange;
    }
}

button, button.btn { 
    @apply  justify-center align-middle flex flex-row;

    svg {
        @apply size-6 mr-2;

        transition: $transitionTime;
        color: $orange;
    }

    &:hover { 
        svg { 
            color: $orange;
        }
    }
}


/*
*   Layout Elements
*/
.box { 
    @apply rounded-md relative;
    background: none;
    max-height: 90vh;
}