@import 'variables.scss';

#folder-tree { 
    @apply w-full mt-0 float-left h-auto pb-4 overflow-y-scroll border-r-0;


    // React-scrollbars-custom-2
    > div > div:last-child > div { 
        @apply rounded-full;
        background: rgba(32, 32, 32, 0.463) !important;
        margin-top: 15px !important;
    }

    &::-webkit-scrollbar {
        display: none;
    }


    li { 
        @apply pl-3 flex flex-col w-full;
        
        svg { 
            @apply size-4 mr-4 float-left;
        }

        a { 
            @apply cursor-pointer select-none;

            &:hover { 
            }

            transition: 0.15s;

            &:hover { 
                @apply text-sky-200;
            }

            &.active {
                color: $orange;
            }
        }

        > ul { 
            @apply w-full;
        }
    }
}
