@import 'variables.scss';

#logo { 
    @apply w-full text-3xl font-semibold my-20;

    color: #e7e7e7;
    span { 
        @apply font-light;
        letter-spacing: -10px;
        color: $orange;
    }
}


#navigation {
    background: #10171d;

    li {
        list-style-type: none;
    }

    /* Layout */
    @apply w-1/5 pl-24 min-h-screen flex flex-col

    /* Default font color */
    text-white overflow-y-hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    nav svg { 
        @apply size-6 mr-5;
    }

    #user {
        @apply w-full flex flex-grow-0;
        background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        border-bottom: 1px solid rgba(0, 6, 31, 0.616);
        border-top: 3px solid $orange;
        border-right: none;
    }

    nav {
        @apply flex;

        li { 
            @apply ml-3;
        }

        a {
            /* Hover font color for links */
            @apply hover:text-sky-200 flex mb-6 cursor-pointer;
    
            a, > li ul { 
                @apply ml-3;
            }
    
            transition: 0.15s;
    
            /* Active font color for links */
            &.active {
                color: rgb(93, 217, 255);
                //text-shadow: 0px 3px 7px rgba(255, 0, 0, 0.87);
    
            }
        }

    }
}