@import 'variables.scss';

$bgOpacity: 0.8;

#settings { 
    table { 

        td, th { 
            @apply px-2;
        }

        td { 
            @apply py-3;
        }

        th { 
            @apply py-1;
        }

        thead tr { 

            border-bottom: 1px solid #ccc;

            th { 
                @apply font-medium;
                color: #393939;
                text-shadow: 0px 1px 0px #fff;
                background: #f1f1f1;
            }

        }

        tbody tr { 
            border-bottom: 1px solid #ccc;
        }
    
        /*
        &:hover {
            background-color: rgb(255 10 35 / 76%);
            border-color: rgb(255 10 35 / 76%);
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        } */
    }
}

