
$pink: rgb(255 10 35 / 76%);
$orange: #ff9100;

$grey: #c7c7c7;
$blue: #258dff;
$black: #424242;

::selection { background: $pink; color: #fff; }
$images: "/src/assets/images";
$patternBg: url($images + '/stripe.png');
